body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    overflow-x: hidden;
}

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

@media screen and (min-width: 1400px){
    html {
        font-size: 18px;
    }

}

.big-title {
    font-size: 5.8rem;
    margin: 18px 0;
}

.btn-primary {
    background-color: #60215E;
    border-radius: 40px;
    border: solid white 1px;
}
.section-header{
    position: relative;
    display: table;
    width: fit-content;
    margin-bottom: 15px;
    text-align: left;
    font-family: 'Montserrat';
    font-weight: 600;
    color: #42495B;
}
.container-xxl{
    width: 100vw;
    padding: 0;
    margin: 0;
}
@media only screen and (max-width:992px){
    .section-header{
        margin: 0 auto 10px;
        font-size: 6vw;
    }
}

@media only screen and (min-width:160px){
    .container-xxl{
        width: 1400px;
        margin: 0 auto;
    }
}
