.about-button{
    width: 380px;
    height: 80px;
    color: white;
    padding: 20px;
    border-radius: 40px;
    background:  #60215E 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #7E76F947;
    -webkit-box-shadow: 0px 3px 6px #7E76F947;
    border: 2px solid #6A1554;
    margin-top: 40px;
}
.about-button:focus{
    outline: none;
}

.about-button  p{
    margin: 0 auto;
    text-align: center;
    font: 600 1rem "Montserrat";
    color: #FFFFFF;
}
.about-button i{
    font-size: 80%;
    margin-right: 3px;
}


.about-paragraph{
    text-align: justify;
}

.about-item{
    opacity: 0;
    transform: translate(-20%);
    /* transition: all .5s ease-in-out; */
}
.is-appearing{
    opacity: 1;
    transform: translate(0);
    transition: all ease-in-out .5s;
}

@media only screen and (max-width:992px){
    .about-item{
        opacity: 1;
        transform: translate(0);
    }
}
@media only screen and (max-width:768px){
    .about-button{
        width: 50%;
        height: 10vw;
        padding: 1vh;
    }
}


@media only screen and (max-width:576px){
    .about-button  p{
        font-size: 1rem;
    }
}

@media only screen and (max-width:400px){
    .about-button  p{
        font-size: .9rem;
    }
}