.data-economy-p{
    padding:5vh 10vw ;
    border-radius: 10%/50%;
    border: 1px black solid;
    margin: 5vh 0;
}

@media only screen and (max-width:768px){
    .data-economy-p{
        padding: 5%;
        border-radius: 10px;
    }
}