.gallery-img-container{
    max-width: 1600px;
    padding-top: 7vh;
    width: 100%;
    margin: 0 auto;
}

.gallery-img{
    width: auto;
    max-height: 230px;
    padding: 0;
}

@media only screen and (max-width: 572px) {
    .gallery-img{
        height: 300px;
    }   
}
@media only screen and (min-width: 1441px){
    .gallery-img-container{
        padding: 7vh 5vh 0;
    }
}