header {
    padding: 10px 10vw;
    height: 15vh;
    width: 100%;
    max-height: 100px;
    position: fixed;
    font-size: 1em;
    z-index: 99;
}
header img {
    z-index: 1;
    width: 100px;
}

.header-bg {
    background-image: linear-gradient(to right, #60215E 0%, #A9216D 100%);
    background-image: -moz-linear-gradient(to right, #60215E 0%, #A9216D 100%);
    background-image: -webkit-linear-gradient(to right, #60215E 0%, #A9216D 100%);
    background-image: -o-linear-gradient(to right, #60215E 0%, #A9216D 100%);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    box-sizing: border-box;
}

header ul {
    z-index: 2;
    list-style: none;
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: white;
}

header ul li {
    float: left;
    height: min-content;
    margin-right: 24px;
}

header ul li a {
    text-decoration: none;
    color: inherit;
    display: block;
}

header ul li a:hover {
    text-decoration: none;
    color: inherit;
}