.hero {
    width: 100%;
    height: 100vh;
    padding: 15vh 0 0;
    margin: unset; /*Removing the layout effect for the hero section (no 15vh for margin-top*/
    color: white;
}

/* Targeting bg image for hero since it's unique */
.hero > img {
    position: absolute;
    z-index: -99;
    top: -130px !important;
    left: 0 !important;
    bottom: unset !important;
    right: unset !important;
    width: 100%;
    min-width: 1300px;

    -webkit-animation-name: chake;
    -moz-animation-name: chake;
    -o-animation-name: chake;
    animation-name: chake;
    animation-duration: 8s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
}

@keyframes chake {
    0% {
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);
    }

    25% {
        -webkit-transform: translateY(50px);
        -moz-transform: translateY(50px);
        -ms-transform: translateY(50px);
        -o-transform: translateY(50px);
        transform: translateY(50px);
    }
    100% {
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
        transform: translateY(0px);
    }

}

.hero-body {
}

.hero-body  h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

.hero-body  h1 .extra-light {
    font-style: unset   ;
    font-weight: 200;
}

.hero-body  .sub-head-title {
    width: max-content;
    text-align: right;
}

.hero-body  .sub-head-title h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.9rem;
    font-weight: 300;
    margin-bottom: 20px;
    letter-spacing: 0.056rem;

}

.hero-body  .sub-head-title h3.hero-widetext {
    font-size: 1.5rem;
    letter-spacing: 2rem;
    -webkit-transform: translateX(2rem);
    -moz-transform: translateX(2rem);
    -ms-transform: translateX(2rem);
    -o-transform: translateX(2rem);
    transform: translateX(2rem);
    font-weight: 600;
}
 .hero-body  .sub-head-title  button {
     font-family: 'Roboto', sans-serif;
     font-weight: 500;
     font-size: 0.8rem;
     letter-spacing: 0.056rem;
     padding: 7px 20px;
 }

 .hero-body .cse-description {
     padding: 10px 0 0;
     font-weight: 400;
     text-align: center;
     color: #505050;
     font-size: 0.9rem;
     line-height: 20pt;
 }