.object {
    background-color: #A9216D;
    width: 600px;
    height: 600px;
    border-radius: 30%;
    position: absolute;
    z-index: -99;
}

.object-1 {
    top: 70vh;
    right: -580px;
    -webkit-transform: rotateZ(-20deg);
    -moz-transform: rotateZ(-20deg);
    -ms-transform: rotateZ(-20deg);
    -o-transform: rotateZ(-20deg);
    transform: rotateZ(-20deg);
}


.object-2 {
    opacity: .42;
    left: -550px;
    position: absolute;
    -webkit-transform: rotateZ(-20deg);
    -moz-transform: rotateZ(-20deg);
    -ms-transform: rotateZ(-20deg);
    -o-transform: rotateZ(-20deg);
    transform: rotateZ(-20deg);
}
@media screen and (max-width: 900px) {
    .object-2 {
        left: -600px;
    }
}

.object-3 {
    right: -680px;
    opacity: .69;
    transform: rotateZ(-20deg) scale(1.4) translateY(-120px);
}

@media screen and (max-width: 720px) {
    .object-3 {
        right: -800px;
    }
}

.object-4 {
    -webkit-transform: rotateZ(-20deg) scale(1.4);
    -moz-transform: rotateZ(-20deg) scale(1.4);
    -ms-transform: rotateZ(-20deg) scale(1.4);
    -o-transform: rotateZ(-20deg) scale(1.4);
    transform: rotateZ(-20deg) scale(1.4);

    left: -610px;
    top: 160px;
    opacity: .70;
}

/*fixing an issue with low resolution screens*/
@media screen and (max-width: 1450px) {
    .object-4 {
        left: -650px;
    }
}

@media screen and (max-width: 520px) {
    .object-4 {
        left: -670px;
    }
    
}